<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <description>
      Test
    </description>
    <display-name>PRACTICAL 14</display-name>
    <servlet>
		<servlet-name>PracticalFourteen</servlet-name>
		<servlet-class>PracticalFourteen</servlet-class>
		<init-param> 
			<param-name>count</param-name>
			<param-value>0</param-value>
		</init-param> 

    </servlet>
	<servlet>
		<servlet-name>PracticalFifteen</servlet-name>
		<servlet-class>PracticalFifteen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PracticalFourteen</servlet-name>
        <url-pattern>/14</url-pattern>
    </servlet-mapping><servlet-mapping>
        <servlet-name>PracticalFifteen</servlet-name>
        <url-pattern>/15</url-pattern>
    </servlet-mapping>

</web-app>
